<footer class="footer">
  <div class="footer-container">
    <div class="footer-sections">
      <div class="footer-socials">
        <a href="https://www.instagram.com/DecaOficial/" target="_blank" rel="noopener noreferrer">
          <img src="{{settings.instagram_icon}}" alt="Instagram" />
          <span class="visibility-hidden">Instagram</span>
        </a>
        <a href="https://www.facebook.com/DecaOficial" target="_blank" rel="noopener noreferrer">
          <img src="{{settings.facebook_icon}}" alt="Facebook" />
           <span class="visibility-hidden">Facebook</span>
        </a>
        <a href="https://www.youtube.com/user/CanalDeca" target="_blank" rel="noopener noreferrer">
          <img src="{{settings.youtube_icon}}" alt="YouTube" />
           <span class="visibility-hidden">Youtube</span>
        </a>
        <a href="https://br.pinterest.com/decaoficial/" target="_blank" rel="noopener noreferrer">
          <img src="{{settings.pinterest_icon}}" alt="Pinterest" />
           <span class="visibility-hidden">Pinterest</span>
        </a>
      </div>
      <div class="footer-section-links">
         <div class="footer-section-column mobile">
          <div class="footer-card">
            <h4>Atendimento</h4>
            <p>Fale com o Pós-Venda:</p>
            <span>(11) 2853-0330</span>
            <div class="footer-links-action">
              <div class="footer-link">
                <a href="https://api.whatsapp.com/send?phone=5511995044983&text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Loja%20Deca%2C%20pode%20me%20ajudar%3F" target="_blank" rel="noopener noreferrer">Fale com um especialista</a>
                <a href="mailto:atendimento.sac@dex.co">Enviar um email</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-section-column">
          <div class="footer-card">
            <h4>Institucional</h4>
            <div class="footer-link">
              <a href="https://www.decaloja.com.br/institucional/quem-somos" target="_blank" rel="noopener noreferrer">Quem Somos</a>
            </div>
          </div>
           <div class="footer-card">
            <h4>Conta</h4>
             <div class="footer-link">
              <a href="https://www.decaloja.com.br/account" target="_blank" rel="noopener noreferrer">Minha conta</a>
              <a href="https://www.decaloja.com.br/account#/orders" target="_blank" rel="noopener noreferrer">Meus pedidos</a>
            </div>
          </div>
        </div>
        <div class="footer-section-column">
          <div class="footer-card">
            <h4>Links úteis</h4>
            <div class="footer-link">
              <a href="https://www.decaloja.com.br/institucional/politica-de-entrega" target="_blank" rel="noopener noreferrer">Política de Entrega</a>
              <a href="https://privacy-central.securiti.ai/#/dsr/aa0cddb5-9d17-4e58-9686-94d48fa52020" target="_blank" rel="noopener noreferrer">Portal de Atendimento aos Titulares</a>
              <a href="https://www.decaloja.com.br/institucional/politica-de-privacidade" target="_blank" rel="noopener noreferrer">Privacidade e proteção de dados</a>
              <a href="https://www.decaloja.com.br/institucional/politica-de-pagamento" target="_blank" rel="noopener noreferrer">Política de Pagamento</a>
              <a href="https://www.decaloja.com.br/institucional/politica-de-troca-e-devolucao" target="_blank" rel="noopener noreferrer">Política de Devolução</a>
            </div>
          </div>
        </div>
        <div class="footer-section-column last">
          <div class="footer-card">
            <h4>Atendimento</h4>
            <p>Fale com o Pós-Venda:</p>
            <span>(11) 2853-0330</span>
            <div class="footer-links-action">
              <div class="footer-link">
                <a href="https://api.whatsapp.com/send?phone=5511995044983&text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Loja%20Deca%2C%20pode%20me%20ajudar%3F" target="_blank" rel="noopener noreferrer">Fale com um especialista</a>
                <a href="mailto:atendimento.sac@dex.co">Enviar um email</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-brands">
      <div class="footer-brand-dexco">
        <img src="{{settings.dexco_icon}}" alt="Dexco" />
      </div>
      <div class="footer-brand">
        <img src="{{settings.deca_icon}}" alt="Deca" />
        <img src="{{settings.portinari_icon}}" alt="Portinari" />
        <img src="{{settings.hydra_icon}}" alt="Hydra" />
        <img src="{{settings.duratex_icon}}" alt="Duratex" />
        <img src="{{settings.castelatto_icon}}" alt="Castelatto" />
        <img src="{{settings.ceusa_icon}}" alt="Ceusa" />
        <img src="{{settings.durafloor_icon}}" alt="Durafloor" />
      </div>
    </div>
  </div>
</footer>
<div class="final-footer">
  <div class="final-footer-container">
    <p class="payment-method-title">Formas de pagamento:</p>
    <div class="payments-methods">
      <img src="{{settings.visa_icon}}" alt="Visa" />
      <img src="{{settings.mastercard_icon}}" alt="Mastercard" />
      <img src="{{settings.dinners_icon}}" alt="Dinners" />
      <img src="{{settings.hipercard_icon}}" alt="Hipercard" />
      <img src="{{settings.amex_icon}}" alt="Amex" />
      <img src="{{settings.elo_icon}}" alt="Elo" />
      <img src="{{settings.boleto_icon}}" alt="Boleto" />
      <img src="{{settings.pix_icon}}" alt="Pix" />
    </div>
    <div class="address">
      <p>Dexco S.A. | CNPJ: 97.837.181/0001-47</p>
      <p>Av. Paulista - 1938 - Bela Vista - São Paulo - SP - Cep: 01310-942</p>
    </div>
    <div class="partners">
       <img src="{{settings.corebiz_icon}}" alt="Corebiz" />
      <img src="{{settings.vtex_icon}}" alt="VTEX" />
    </div>
  </div>
</div>