<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const sectionItems = document.querySelectorAll('.section-item');
    const articlesList = document.getElementById('articles-list');
    const sectionTitle = document.createElement('h2');
    const sectionSelect = document.getElementById('section-select');

    function loadArticles(sectionId, sectionName) {
      sectionTitle.textContent = sectionName;
      articlesList.innerHTML = '';
      articlesList.prepend(sectionTitle);

      sectionItems.forEach(item => item.classList.remove('selected'));
      sectionSelect.value = sectionId;

      const selectedItem = document.querySelector(`.section-item[data-section-id="${sectionId}"]`);
      if (selectedItem) {
        selectedItem.classList.add('selected');
      }

      fetch(`/api/v2/help_center/sections/${sectionId}/articles.json`)
        .then(response => response.json())
        .then(data => {
          const articles = data.articles;
          
          if (articles.length === 0) {
            articlesList.innerHTML += '<p>Não há artigos nesta seção.</p>';
          } else {
            articles.forEach(article => {
              const articleItem = document.createElement('div');
              articleItem.className = 'article-item';
              articleItem.textContent = article.title;
              articleItem.setAttribute('data-article-id', article.id);

              const accordionIcon = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
              accordionIcon.className = 'accordion-icon';
              accordionIcon.setAttribute('viewBox', '0 0 24 24');
              accordionIcon.setAttribute('width', '24px');
              accordionIcon.setAttribute('height', '24px');
              accordionIcon.classList.add('accordion-icon')
              accordionIcon.innerHTML = `
                <g id="icon-seta">
                  <rect id="Rectangle 14" x="12" y="16.9706" width="1.5" height="12" transform="rotate(-135 12 16.9706)" fill="#DBC79A"/>
                  <rect id="Rectangle 15" x="3.51465" y="8.48523" width="1.5" height="12" transform="rotate(-45 3.51465 8.48523)" fill="#DBC79A"/>
                </g>
              `;

              const articleBody = document.createElement('div');
              articleBody.className = 'article-body';

              articleItem.appendChild(accordionIcon);

              articleItem.addEventListener('click', function () {
                document.querySelectorAll('.article-body').forEach(body => {
                  if (body !== articleBody) {
                    body.style.display = 'none';
                    body.previousElementSibling.classList.remove('open');
                  }
                });

                if (articleBody.innerHTML === '') {
                  fetch(`/api/v2/help_center/articles/${article.id}.json`)
                    .then(response => response.json())
                    .then(data => {
                      articleBody.innerHTML = `<div>${data.article.body}</div>`;
                      articleBody.style.display = 'block';
                      articleItem.classList.add('open');
                    });
                } else {
                  articleBody.style.display = articleBody.style.display === 'none' ? 'block' : 'none';
                  articleItem.classList.toggle('open');
                }
              });

              articlesList.appendChild(articleItem);
              articlesList.appendChild(articleBody);
            });
          }
        })
        .catch(error => {
          articlesList.innerHTML = '<p>Erro ao carregar artigos.</p>';
          console.error('Error fetching articles:', error);
        });
    }

    if (sectionItems.length > 0) {
      const firstSectionItem = sectionItems[0];
      const firstSectionId = firstSectionItem.getAttribute('data-section-id');
      const firstSectionName = firstSectionItem.textContent;
      loadArticles(firstSectionId, firstSectionName);
    }

    sectionItems.forEach(section => {
      section.addEventListener('click', function () {
        const sectionId = this.getAttribute('data-section-id');
        const sectionName = this.textContent;
        loadArticles(sectionId, sectionName);
      });
    });

    sectionSelect.addEventListener('change', function() {
      const selectedOption = this.options[this.selectedIndex];
      const sectionId = selectedOption.value;
      const sectionName = selectedOption.textContent;
      loadArticles(sectionId, sectionName);
    });

    const sacButton = document.getElementById('sac-button');
    const sacInfo = document.getElementById('sac-info');

    sacButton.addEventListener('click', function () {
      sacInfo.style.display = sacInfo.style.display === 'none' ? 'block' : 'none';
    });

    const atendimentoButton = document.querySelector('.header-callcenter-button');
    const contactOptionsSection = document.querySelector('.contact-options');

    atendimentoButton.addEventListener('click', function (e) {
      e.preventDefault();
        contactOptionsSection.scrollIntoView({ 
          behavior: 'smooth',
          block: 'start'
        });
        window.scrollBy(0, -110);
    });
  });
</script>

<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="hero">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero-title">Portal do Cliente</h1>
      <h2 class="hero-subtitle">Como podemos <strong>te ajudar?</strong></h2>
    </div>
    <div class="search-container">
      {{search submit=false instant=settings.instant_search class='search search-full' placeholder="O que você está buscando hoje?"}}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" class="search-icon" aria-hidden="true">
        <g id="icon-search">
          <path id="Vector" d="M10 18C14.1421 18 17.5 14.6421 17.5 10.5C17.5 6.35786 14.1421 3 10 3C5.85786 3 2.5 6.35786 2.5 10.5C2.5 14.6421 5.85786 18 10 18Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" />
          <path id="Vector_2" d="M20.5 21L15.5 16" stroke="#111111" stroke-linecap="square" stroke-linejoin="round" />
        </g>
      </svg>
    </div>
  </div>
</section>

<section class="background-block"></section>

<section class="help-center">
  <h1 class="help-center-title">Dúvidas Frequentes</h1>
  <div class="help-center-container">
    <div class="sidebar">
      <ul id="sections-list">
        {{#each categories}}
        {{#each this.sections}}
        <li class="section-item" data-section-id="{{this.id}}">
          <div class="section-icon"></div>
          <span>{{this.name}}</span>
        </li>
        {{/each}}
        {{/each}}
      </ul>
    </div>

    <div class="mobile-section-select">
      <p>Selecione o assunto que deseja ajuda</p>
      <select id="section-select">
        {{#each categories}}
        {{#each this.sections}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        {{/each}}
      </select>
    </div>

    <div class="articles-container">
      <div id="articles-list"></div>
      <div id="article-content"></div>
    </div>
  </div>
</section>

<section class="contact-options">
  <div class="contact-titles">
    <h3>Não encontrou o que precisava?</h3>
    <p>Nosso time pode te ajudar.</p>
  </div>
  <div class="contact-buttons">
    <a class="contact-button" id="email-button" href="https://lojadeca.zendesk.com/hc/pt-br/requests/new?ticket_form_id={{settings.form_id_default}}" class="contact-link">
      <img src={{settings.contact_icon_email}} alt="E-mail" />
      <span>E-mail</span>
    </a>
    <button class="contact-button" id="sac-button">
      <img src={{settings.contact_icon_sac}} alt="Sac" />
      <span>SAC</span>
    </button>
    <a class="contact-button" id="whatsapp-button" href="https://api.whatsapp.com/send?phone=5511995044983&text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Loja%20Deca%2C%20pode%20me%20ajudar%3F" class="contact-link" target="_blank" rel="noopener noreferrer">
      <img src={{settings.contact_icon_whatsapp}} alt="Whatsapp" />
      <span>WhatsApp</span>
    </a>
  </div>
  <div id="contact-content" class="contact-content">
    <div id="sac-info" style="display: none;">
      <p>Fale com SAC (11) 2853-0330</p>
      <p>Das 08 às 18h, de segunda à sexta, exceto feriado.</p>
    </div>
  </div>
</section>

