<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="hero">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero-title">Portal do Cliente</h1>
      <h2 class="hero-subtitle">Como podemos <strong>te ajudar?</strong></h2>
    </div>
    <div class="search-container">
      {{search submit=false instant=settings.instant_search class='search search-full' placeholder="O que você está buscando hoje?"}}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" class="search-icon" aria-hidden="true">
        <g id="icon-search">
          <path id="Vector" d="M10 18C14.1421 18 17.5 14.6421 17.5 10.5C17.5 6.35786 14.1421 3 10 3C5.85786 3 2.5 6.35786 2.5 10.5C2.5 14.6421 5.85786 18 10 18Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" />
          <path id="Vector_2" d="M20.5 21L15.5 16" stroke="#111111" stroke-linecap="square" stroke-linejoin="round" />
        </g>
      </svg>
    </div>
  </div>
</section>

<section class="background-block"></section>

<section class="help-center">
  <h1 class="help-center-title">Dúvidas Frequentes</h1>
  <div class="help-center-container">
    <div class="sidebar">
      <ul id="sections-list">
        {{#each categories}}
        {{#each this.sections}}
        <li class="section-item" data-section-id="{{this.id}}">
          <div class="section-icon"></div>
          <span>{{this.name}}</span>
        </li>
        {{/each}}
        {{/each}}
      </ul>
    </div>

    <div class="mobile-section-select">
      <p>Selecione o assunto que deseja ajuda</p>
      <select id="section-select">
        {{#each categories}}
        {{#each this.sections}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        {{/each}}
      </select>
    </div>

    <div class="articles-container">
      <div id="articles-list"></div>
      <div id="article-content"></div>
    </div>
  </div>
</section>

<section class="informative-banner">
  <div class="informative-banner-container">
    {{#if settings.show_informative_banner}}
      <img src="{{settings.informative_banner_desktop}}" alt="Banner informativo" class="informative-banner-desktop" />
      <img src="{{settings.informative_banner_mobile}}" alt="Banner informativo" class="informative-banner-mobile" />
    {{/if}}
  </div>
</section>

<section class="contact-options" id="contact-options">
  <div class="contact-titles">
    <h3>Não encontrou o que precisava?</h3>
    <p>Nosso time pode te ajudar.</p>
  </div>
  <div class="contact-buttons">
    {{#if settings.show_email}}
      <a class="contact-button" id="email-button" href="https://ajuda.decaloja.com.br/hc/pt-br/requests/new?ticket_form_id={{settings.form_id_default}}" class="contact-link">
        <img src={{settings.contact_icon_email}} alt="E-mail" />
        <span>E-mail</span>
      </a>
    {{/if}}
    {{#if settings.show_chat}}
      <a class="contact-button" id="chat-button" href="{{settings.contact_chat_link}}" target="_blank" rel="noopener noreferrer" class="contact-link">
        <img src={{settings.contact_icon_chat}} alt="Chat" />
        <span>Chat</span>
      </a>
    {{/if}}
    {{#if settings.show_sac}}
      <button class="contact-button" id="sac-button">
        <img src={{settings.contact_icon_sac}} alt="Sac" />
        <span>SAC</span>
      </button>
    {{/if}}
    {{#if settings.show_whatsapp}}
      <a class="contact-button" id="whatsapp-button" href="{{settings.contact_whatsapp_link}}" class="contact-link" target="_blank" rel="noopener noreferrer">
        <img src={{settings.contact_icon_whatsapp}} alt="Whatsapp" />
        <span>WhatsApp</span>
      </a>
    {{/if}}
  </div>
  <div id="contact-content" class="contact-content">
    <div id="sac-info" style="display: none;">
      <p>Fale com SAC (11) 2853-0330</p>
      <p>Das 08 às 18h, de segunda à sexta, exceto feriado.</p>
    </div>
  </div>
</section>

